.background {
  text-align: center;
  background-image: radial-gradient(#90ac78, #4c6239);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 80px;
}

.blurBlock {
  background-color: rgb(255, 255, 255, 0.05);
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 415px) {
  .blurBlock {
    width: 100%;
  }
}

.App-title {
  font-size: 3em;
  font-weight: normal;
  color: white;
  font-family: "Lucida Grande";
}
